.kw{
	font-family:Verdana;font-size:16px;height:1.78em;padding-top:2px;
}
.sb{
	height:2em;width:5.6em;font-size:14px;
}
.inf{
	font-family:Verdana,Arial,Helvetica,sans-serif font:14px;
}
.result{
	font-family:Verdana,Arial,Helvetica,sans-serif font:16px;
}